/* Quantico, sans-serif */
* {
  margin: 0%;
  padding: 0%;
  list-style-type: none;
  background-color: black;
}

h4 {
  color: #CEC6BD;
  font-size: 0.9em;
  font-family: "Quantico", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  display: flex;
  justify-content: center;
}

p {
  color: #CEC6BD;
  font-size: 0.9em;
  font-family: "SF Mono", Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  display: flex;
  justify-content: center;
}

header {
  width: 100%;
  height: 255px;
  display: flex;
  justify-content: center;
}

.header-container {
  margin-left: 306.5px;
  margin-right: 306.5px;
  padding: 20px 50px 20px 50px;
  width: 1110px;
  height: 212.016px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "SF Mono", Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.search-logo-money {
  width: 1110px;
  height: 220px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 144.33px;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 30px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.2941176471);
}

.search button {
  border-color: #CEC6BD;
  color: #CEC6BD;
}

.nav-item, .dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CEC6BD;
}

.cart-img img {
  background-color: #CEC6BD;
  width: 30px;
  height: 30px;
  gap: 5px;
}

.dropdown-item {
  color: #CEC6BD;
  border: none;
  outline: none;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 20px;
  margin-left: 10vh;
}

.header-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header-nav ul li a {
  color: #CEC6BD;
  font-size: 0.8em;
  text-decoration: none;
  font-family: "Quantico", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav ul li a:hover {
  text-decoration: underline;
  transition: 0.5s;
}

.item-sticky {
  position: sticky;
  top: 0;
}

.resources-container {
  justify-content: center;
  align-items: end;
}

.resources h3 {
  display: flex;
  justify-content: center;
  color: #CEC6BD;
  font-family: "Quantico", sans-serif;
}

.resources-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding-top: 60px;
}

.resources-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.resources-nav ul li a {
  color: #CEC6BD;
  font-size: 0.8em;
  text-decoration: underline;
  font-family: "Quantico", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.resouces-email {
  display: flex;
  justify-content: center;
  font-family: "Quantico", sans-serif;
  color: #CEC6BD;
}

.footer {
  display: flex;
  justify-content: flex-start;
}

.copyrigth {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Quantico", sans-serif;
}

body {
  width: 1880px;
  background-color: #000;
}

.main-container {
  color: #fff;
  font-family: "SF Mono", Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.merchs {
  margin-left: 31.5px;
  margin-right: 31.5px;
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.merchs a {
  text-decoration: none;
}

.div-width {
  width: 1100px;
  height: 200px;
  padding: 36px 50px 12px 50px;
  margin: 0 378px;
}

.main-products {
  width: 1100px;
  height: 1122.86px;
  margin: 0 378px;
  padding: 36px 50px 12px 50px;
}

.section-container {
  display: grid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-item1 {
  grid-column: 1/3;
  grid-row: 1/3;
  border: 1px solid #0B0A0A;
}

.grid-item2 {
  grid-column: 1/2;
  grid-row: 1/2;
  border: 1px solid #0B0A0A;
}

.grid-item3 {
  grid-column: 1/2;
  grid-row: 1/2;
  border: 1px solid #0B0A0A;
}

.grid-text {
  grid-column: 3/5;
  grid-row: 1/7;
  border: 1px solid #0B0A0A;
  justify-content: end;
}

.grid-text h1 {
  color: #CEC6BD;
  display: flex;
  justify-content: center;
  font-family: "Quantico", sans-serif;
}

.size {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.size button {
  background-color: #F1CC98;
  border-radius: 5px 5px 5px 5px;
  width: 50px;
  height: 20px;
}

.contact-container {
  width: 1880px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-name {
  width: 173px;
  height: 45px;
  display: flex;
  justify-content: start;
}

.contact-email {
  width: 173px;
  height: 45px;
  display: flex;
  justify-content: end;
}

.contact-phone-number {
  width: 351px;
  height: 45px;
  display: flex;
  justify-content: flex-start;
}

.contact-comment textarea {
  display: flex;
  justify-content: flex-start;
  align-items: end;
}

.contact-comment button {
  color: #CEC6BD;
  display: flex;
  justify-content: end;
}

.p1 {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 150px;
}

.email {
  width: 1880px;
  height: 48px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.email-text {
  width: 358px;
  height: 45px;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 350px;
  width: 300px;
  color: #CEC6BD;
}

.parrafo-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.button-shop {
  display: flex;
  justify-content: center;
}

.button1 {
  background-color: #F1CC98;
  width: 135px;
  height: 47px;
  font-family: "SF Mono", Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: medium;
  border: none;
}

/*# sourceMappingURL=style.css.map */
