@media screen and (max-width: 498px) {
    header div nav ul {
        flex-wrap: wrap;
        width: 100%;
    }
    main article div {
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer, .footer, .footer-container, .money ,.copyrigth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    main, .main-container, section, .section-container form div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

}

@media screen and (max-width: 498px) {
    .search-logo-money, .search {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 498px) {
    .resources-container, .footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-height: 100vh;
        max-height: 100%;
    }
    .copyrigth {
        align-items: center;
    }
    .resources-container, .footer-container, .copyrigth {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (min-width: 498px) {
    .logo-mq {
        display: none;
        
    
    }
}
@media screen and (max-width: 498px) {
    .merchs {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    .logo {
       display: none;
       
    }
    .logo-mq h2{
        color: #fff;
        font-size: 3em;
        font-family: "Quantico", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 0%;
        left: 440px;
    }
    
}

@media screen and (max-width: 498px) {
    .merch, .merchs, .merch-1, .merch-2, .merch-3, .merch-4, .merch-5, .poster-1, .poster-2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    
    
    
}