.resources-container {
    display: flex;
    justify-content: space-around;
    align-items: end;
    min-height: 100vh;
    max-height: 100%;
}
.resources-container2 {
    display: flex;
    min-height: 100vh;
    max-height: 100%;
}

.resources h3 {
    display: flex;
    justify-content: center;
    color: #CEC6BD;
    font-family: "Quantico", sans-serif;
}
.resources-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding-top: 60px;
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 15px;
    }    
    ul li p {
        color: #CEC6BD;
        font-size: 0.8em;
        text-decoration: underline;
        font-family: "Quantico", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        display: flex;
        justify-content: center;
}

.item-dropdown {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}


}
.resouces-email {
    display: flex;
    justify-content: center;
    font-family: "Quantico", sans-serif;
    color: #CEC6BD;
}

.footer {
    display: flex;
    justify-content: flex-start;
    min-height: 20vh;
    max-height: 100%;
}

.copyrigth {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    font-family: "Quantico", sans-serif;
}

